.modal-enter-active {
    transition-property: opacity;
    transition-duration: 300ms;
    transition-timing-function: ease-out;
}
.modal-leave-active {
    transition-property: opacity;
    transition-duration: 200ms;
    transition-timing-function: ease-in;
}
.modal-enter-from,
.modal-leave-to {
    opacity: 0;
}
.modal-leave-from,
.modal-enter-to {
    opacity: 1;
}

.modal-enter-active .modal-content {
    transition-duration: 300ms;
    transition-timing-function: ease-out;
}
.modal-leave-active .modal-content {
    transition-duration: 200ms;
    transition-timing-function: ease-in;
}
.modal-enter-from .modal-content,
.modal-leave-to .modal-content {
    opacity: 0;
    transform: translateY(1rem);
    transform: scale(1.1);
}
.modal-leave-from .modal-content,
.modal-enter-to .modal-content {
    opacity: 1;
    transform: translateY(0px);
    transform: scale(1);
}

.over {
    background-color: green !important;
}
.dragging {
    border: 2px dashed gray;
    background-color: transparent !important;
}
.dragging > * {
    opacity: 0;
}
.drag-over {
    border: 2px dashed gray;
    background-color: transparent !important;
}
.drag-over * {
    opacity: 0;
}


.sortable-ghost {
    border: 2px dashed gray;
    background-color: transparent !important;
}
.sortable-ghost > * {
    opacity: 0;
}

[dir="rtl"] select {
    background-position: left 0.5rem center;
    padding-left: 2.5rem;
    padding-right: 0.75rem !important;
}
